{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <h1>Hola {{ alumno.nombre }}</h1>

  <h2>Lecciones Disponibles</h2>
  {% for leccion, completada, calificacion in lecciones_completadas %}
  <div class="leccion">
    <h3>{{ leccion.nombre }}</h3>
    {% if completada %}
    <p>Estado: Completada</p>
    <p>Calificación: {{ calificacion }}</p>
    {% else %}
    <p>Estado: Pendiente</p>
    {% endif %}
    <a href="/leccion/leccion/{{ leccion.id }}">Acceder a la lección</a>
  </div>
  {% endfor %}
</div>
  


{% endblock %}