<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eloquista</title>
    
  </head>
  <body>
    <h2>Padres y tutores</h2>
    <p>
      El aprendizaje de manera conjunta con los padres y tutores es fundamental en el contexto de proveer sistemas de apoyo a adolescentes con Trastorno del Espectro Autista (TEA) en comunicación escrita. Reconocemos que los padres y tutores son figuras clave en la vida de un adolescente con TEA, ya que desempeñan un papel fundamental en su educación, desarrollo y bienestar.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>