<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eloquista</title>
    
  </head>
  <body>
    <h2>Profesores</h2>
    <p>
      Es fundamental reconocer la importancia del aprendizaje conjunto con los profesores en el contexto de proveer sistemas de apoyo a adolescentes con Trastorno del Espectro Autista (TEA) en comunicación escrita. La colaboración entre los profesionales especializados en TEA y los educadores es esencial para garantizar una educación inclusiva y efectiva.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>



<!-- <h2>Titulos</h2>
<ul>
  {% for profesor in profesores %}
    <li>{{ profesor.institucion }} - {{ profesor.titulo_academico }}</li>
  {% empty %}
    <li>No hay registros.</li>
  {% endfor %}
</ul> -->
