<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eloquista</title>
        
    </head>
    <body>
    <main>
        <h1>
            {{ name }}
        </h1>
        <form action="/home" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Confirmar</button>
        </form>

    </main>
    </body>
</html>