<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Registro exitoso. Ahora puedes iniciar sesión.</p>
    <form method="POST">
      {% csrf_token %}
      <div>
        <label for="role">Rol:</label>
        <select name="role" id="role">
          <option value="parent">Parent</option>
          <option value="teacher">Teacher</option>
        </select>
      </div>
      <div>
        <button type="submit">Confirmar</button>
      </div>
    </form>
    <div id="result">
      {% if request.method == 'POST' %}
        {% if request.POST.role == 'parent' %}
          <h1>Parent</h1>
        {% elif request.POST.role == 'teacher' %}
          <h1>Teacher</h1>
        {% endif %}
      {% endif %}
    </div>
</body>
</html>