<!DOCTYPE html>
<html>
<head>
  <title>Registrarse - Eloquista</title>
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>

  <main>
    <section class="signup-section">
      <h1>Registrarse</h1>
      
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <form method="POST">
          <!-- para registro de usuario -->
          {% csrf_token %}
          <!--  -->
          {% for field in form %}
            <div>
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
          
          <div>
            <button type="submit">Registrarse</button>
          </div>
        </form>
    </section>
  </main>

  <footer>
    <a href="/comenzar/login/">¿Ya tienes cuenta?</a>
  </footer>
</body>
</html>